* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(0, 0, 0, 1);
}

p{
    font-size: 24px;
    margin-top: 16px;
    font-family: 'wingdings';
    color: #c3c3c3;
    user-select: none;
    text-align: center;
}

p:hover {
    animation-name: font-change;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction:normal;
}

@keyframes font-change {
  0% {
    font-family: 'wingdings';
    color: #c3c3c3;
    opacity: 1;
  }
  40% {
    font-family: 'wingdings';
  }
  50% {
    opacity: 0;
  } 
  60% {
    font-family: Arial;
    letter-spacing: 10px;
  }
  100% {
    font-family: Arial;
    color: #FFC90E;
    opacity: 1;
    letter-spacing: 10px;
  }
}

#oczomzz {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#oczomzz img {
    height: 100vh;
    width: auto;
    opacity: 0.12;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -webkit-touch-callout: none;
}

#button {
    height: 60vh;
    width: 260px    ;
    position: absolute;
}

#ramb {
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    margin-top: 30px;
}

#ramb img {
    height: 120px;
    width: auto;
}